extends dummy-page-head.pug

block content
    div(class="center-block-container")
        div(class="header-logo-container")
            img(id="header-logo" src='/images/logo.png')
            h3(id="large-logo-text") Large
        div(class="text-container")
            h2(id="thanks-header") Thanks for visiting Large. 
            p(class="paragraph-text") You landed on a feature that is not quite yet available yet!
            p(class="paragraph-text") We're all available for hire. Check out our profiles below.
            ul(class="profiles-list")
                li
                    a(href='/' class="profile-link") David Forster
                li
                    a(href='/' class="profile-link") Jonathon Tufts
                li
                    a(href='/' class="profile-link") Agustin Zucca
                li
                    a(href='https://www.linkedin.com/in/ethan-chen-3b7070127/' class="profile-link") Ethan Chen

