extends layout.pug

block content
  div(id='feed-main-layout')
    include feed-sidebar.pug

    include feed-center-content.pug
    include content-bar.pug
    script(src='/javascripts/feed.js')
    script(src='/javascripts/contentBar.js')



