extends layout.pug

block content
  div(id='feed-main-layout')
    include feed-sidebar.pug
    //- h1 Feed
      //- form(action="/users/logout" method="post")
      //-   input(type="submit" value="Log Out")

    include feed-center-content.pug