doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/splashpage.css')
        link(rel='stylesheet' href='/stylesheets/sidebar.css')
        link(rel="stylesheet", href="/stylesheets/loginOrRegister.css")
        link(rel='stylesheet' href='/stylesheets/new-story.css')
        script(src="/javascripts/disappearingM.js") 
        script(src="/javascripts/signInReg.js")
        script(src="/javascripts/authErr.js")
  body
    block content
