
extends new-story-head.pug

block content
 div(class="story-create")
  nav(class="story-navbar")
    div(class="story-innerNav")
      div(class="nav-logo-containerLeft")
        a(class="nav-logo" href="/")
          img(class="nav-icon-logo-icon" src="/images/logo.png")
        p(class="nav-story-status") Draft in John Smith
      div(class="nav-logo-containerRight")
        a(class="publish-button-container")
          button(class="publish-button disabled" id="publish-btn") Publish
        a(class="options-button-container")
          img(class="options-button" src="/images/options.png")
        a(class="notifications-button-container")
          img(class="notifications-button" src="/images/notification.png")
        a(class="profile-button-container")
          img(class="profile-button" src="/images/avatardefault.png")
  div(class="section-divider")
    if errors
     each error in errors
      div(class="error-container")
       p(class="error-message")= error
  div(class="section-content-form")  
    form(class="new-story-form" method="post" action="/my-stories/new")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="text" class="title-input" name="title" id="title" placeholder="Title" value=story.title)
      textarea(type="text" class="article-input" name="article" id="article" placeholder="Tell your story..." value=story.article)
      input(type="text" id="original-tag-input-id" class="original-tag-input hidden" name="tag")
      input(type="submit" class="submit-btn")
 include new-story-publish.pug
    script(src="/javascripts/new-story.js") 