extends new-story-head.pug

block content
 div(class="publish-modal hidden")
  div(class="publish-modal-close")
    a(class="close-button")
      img(class="close-button-icon" src="/images/close2.png")
  div(class="publish-modal-overlay")
    div(class="left-half")
      div(class="story-preview-section")
        h2(class="story-preview-header") Story Preview
        div(class="image-upload-box")
         div(class="image-upload-directions-container")
          p(class="image-upload-directions") Include a high-quality image in your story to make it more inviting to readers.
      div(class="title-section")
        input(class="title-section-edit-input" id="title-preview" placeholder="Write a preview title")
      div(class="description-section")
        input(class="description-section-edit-input" id="article-preview" placeholder="Write a preview subtitle...")
      div(class="note-section")
        p(class="note-text") Note: Changes here will affect how your story appears in public places like Medium's homepage and subscribers' inboxes - not the contents of the story itself.
    div(class="right-half")
      div(class="publishing-to-section")
        span=`Publishing to: `
        span(class="publishing-second-half")=`${user.firstName} ${user.lastName}`
      div(class="add-tag-heading-section")
        p(class="add-tag-heading") Add or change a tag so readers know what your story is about
        input(class="tag-input" id="tag-input-id" name="tag" placeholder="Add a tag..." value=story.Tag.name)
      div(class="learn-more-section")
        p(class="learn-more-text") Learn more about what happens to your post when you publish.
      div(class="publish-button-section")
        button(class="publish-now-btn") Publish now
        div(class="schedule-for-later-btn")
         p(class="schedule-for-later-btn-text") Schedule for later