html 
body
  nav(class="navbar")
    div(class="nav-container-1")
      div(class="nav-logo-container")
        a(class="nav-logo")
          img(class="nav-icon-logo-icon" src="/images/logo.png")
      div(class="nav-story-status-container")
        p(class="nav-story-status") Draft in John Smith
    div(class="nav-container-2")
      div(class="nav-buttons-container")
        a(class="publish-button-container")
          button(class="publish-button") Publish
        a(class="options-button-container")
          button(class="options-button") Options
        a(class="notifications-button-container")
          img(class="notifications-button" src="/images/notification.png")
        a(class="profile-button-container")
          img(class="profile-button" src="/images/avatardefault.png")
