div(class="content-bar")
    div(class="unlimited-access-container")
        button(class="unlimited-access-btn") Get unlimited access
            
    div(class="search-bar-container")
        div(class="search-bar")
    div(class="userInfo")
        img(class='userIcon' src="https://picsum.photos/200")
        div(class="userRName")
            a(class='userLinking' href=`/users/${user.id}`)= `${user.firstName} ${user.lastName}`
    
        a(href=`/users/${user.id}/about` class="see-the-full-list") Edit Info

    div(class='bottLinks')
        a(class='botLink' href='#') Help
        a(class='botLink' href='#') Status 
        a(class='botLink' href='#') Writer
        a(class='botLink' href='#') Blog 
        a(class='botLink' href='#') Careers 
        a(class='botLink' href='#') Privacy
        a(class='botLink' href='#') Terms 
        a(class='botLink' href='#') About 
        a(class='botLink' href='#') Knowable



            
