extends splash.pug 
block content 
  header(class='navbar' id='navbar')
    div(class='innerNav')
      div(class='navLeft')
        img(src="/images/logo.png", alt="large-logo", class='navIcon')
        h1(href="/") Large 
      div(class='navRight')
        ul(class='menuNav')
          a(class = 'navItem' href='#') Our Story 
          a(class = 'navItem' href='#') Membership 
          a(class = 'navItem' href='#') Write 
          a(class = 'popUpButton navItem' href='#') Sign In

        button(class='getStarted' action='#') Get Started

  include splash-page.pug

  include user-login.pug

  script(src='/javascripts/navbar-listener.js')
  
