extends layout.pug 

block content
    div(id='feed-main-layout')
        include feed-sidebar.pug


        include user-center-content.pug
        include content-bar.pug
        script(src='/javascripts/user-page.js')