extends layout.pug 

block content
    link(rel='stylesheet' href='/stylesheets/user-content-bar.css')

    div(id='feed-main-layout')
        include feed-sidebar.pug


        include user-center-content.pug
        include user-content-bar.pug
        script(src='/javascripts/user-page.js')