* {
    box-sizing: border-box;
}

#comment-modal-greyOut {
    width: 100vw;
    height: 100%;
    position: sticky;
    transition: .25s;
}

#comment-modal {
    background-color: white;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 30%;
    padding-top: 30px;
    overflow-y: scroll;
    transition: .25s;
}

.showCommentModal {
    right: 0%;
}

.hideCommentModal {
    right: -30%;
}

#comment-modal-header {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

#comment-modal-title {
    font-size: 2em;
    padding-bottom: 1em;
}

#new-comment-container {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px #75757541;
}

#new-comment-box-container {
    width: 100%;
    height: 100px;
}

#new-comment-box {
    width: 90%;
    height: 90%;
    border: none;
    resize: none;
    padding: 1em;
}

#new-comment-box:focus {
    outline: none;
}

#new-comment-container-footer {
    display: none;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
    margin-right: 1em;
}

#new-comment-cancel {
    font-size: .8em;
    margin-right: 1em;
}

#new-comment-cancel:hover {
    cursor: pointer;
}

#new-comment-submit {
    color: white;
    background-color: rgba(27, 137, 23, 0.339);
    font-size: .8em;
    padding: .5em;
    border-radius: 25px;
}

#sort-by {
    font-size: .75em;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1.25em;
}

#comment-list {
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-container {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    width: 100%;
}

.comment-container-header {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.comment-user-info {
    padding-left: 1em;
}

.comment-author {
    padding-bottom: .5em;
    text-decoration: none;
}

.comment-daysAgo {
    color: #757575;
}

.comment-content {
    padding-bottom: 1.5em;
}

#wow-empty {
    margin-top: 2em;
}

.hiddenOnComments {
    display: none;
}