#feed-main-layout {
  display: flex;
  flex-direction: row;
  -webkit-font-smoothing: antialiased;
}

.centerHolder {
  width: 63.5%;
  height: 100%;
  min-height: 100vh;
  border-right: 0.25px solid lightgray;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  display: flex;
  flex-direction: column;
}

#keepup {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: solid black 1px; */
  align-items: center;
}

#keepup > a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 50%;
  background-color: rgba(223, 223, 223, 0.69);
  margin-right: 10px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

#keepup > p {
  color: rgb(58, 58, 58);
  font-size: 11pt;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

#feedChoice {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-direction: row;

  border-bottom: 0.25px solid lightgray;
  align-items: center;
}

#recommended {
  border-bottom: solid black 0.25px;
  color: rgb(58, 58, 58);
  display: flex;
  align-items: center;
  margin-right: 25px;
  height: 100%;
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

#following {
  color: rgba(117, 117, 117, 1);
  display: flex;
  align-items: center;
  margin-right: 25px;
  height: 100%;
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

/* 
#feedChoice > p {
    display: flex;
    align-items: center;
    margin-right: 25px;
    height: 100%;
    font-size: 10pt;
    color: lightgrey;
    border-bottom: solid black 0.25px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0px;
    padding-bottom: 15px;
} */

#feedChoice > p:hover {
  cursor: pointer;
}

.storyDiv {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid lightgray 0.25px;
  justify-content: space-between;
  overflow-wrap: normal;
  align-items: center;
}

.storyContent {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

.topInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topInfo > p {
  font-size: 9pt;
  margin-left: 5px;
  color: rgb(58, 58, 58);
  -webkit-font-smoothing: antialiased;
}

.topInfo > a {
  font-size: 9pt;
  margin-left: 5px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.feedprofile-img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.storyTitle {
  max-width: 75vh;
  font-weight: bolder;
  font-size: 15pt;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.storyPreview {
  max-width: 75vh;
  max-height: 10vh;
  overflow-y: hidden;
}

.storyPreview > a {
  color: rgb(58, 58, 58);
  font-size: 9.5pt;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.underStory {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.underLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.underLeft > a {
  text-decoration: none;
  background-color: rgba(223, 223, 223, 0.69);
  margin-right: 15px;
  font-size: 9.5pt;
  padding: 5px;
  border-radius: 15px;
  -webkit-font-smoothing: antialiased;
}

.underLeft > p {
  font-size: 9pt;
  color: rgb(143, 143, 143);
  -webkit-font-smoothing: antialiased;
}

.underRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.underRight > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.imgDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPreview {
  width: 110px;
  height: 110px;
}

#followingStories {
  visibility: hidden;
}

.content-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  width: 30%;
  padding: 0 32px 0 16px;
  position: sticky;
  top: 0;
  right: 0%;
}


.unlimited-access-container {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unlimited-access-btn {
  border-radius: 25px;
  background: black;
  color: white;
  padding: 10px;
  width: 70%;
  height: 46%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.unlimited-access-btn:hover {
  cursor: pointer;
}

.recent-article-text {
  font-size: 15px;
  color: black;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
}

.what-reading-text {
  color: black;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.search-bar-container {
  width: 100%;
  height: 80px;
}

.currently-reading-container {
  margin-top: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.currently-reading-articles-container {
  margin-top: 20px;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.story-owner-profile {
  text-decoration: none;
  font-size: 12px;
}

.story-preview-container {
  height: 25%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

.story-owner-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.story-owner-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.story-preview-title {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

.see-the-full-list {
  text-decoration: none;
  color: green;
  font-size: 12px;
}

.writing-container {
  margin-left: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.writing-on-medium-container {
  margin-top: 14px;
  width: 75%;
  height: 220px;
  background-color: #e1f0ff;
}

.container-header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 11px;
}

.close-box-button {
  height: 20px;
  width: 20px;
}

.close-box-button:hover {
  cursor: pointer;
}

.inner-writing-container {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 80%;
}

.sub-container {
  display: flex;
  flex-direction: column;
}

.writing-title {
  font-weight: bold;
}

#new-writer-faq {
  margin-bottom: 7px;
  font-size: 17px;
  text-decoration: none;
}

#expert-writing-advice {
  margin-bottom: 7px;
  font-size: 17px;
  text-decoration: none;
}

#grow-readership {
  font-size: 17px;
  text-decoration: none;
}

.start-writing-btn {
  border-radius: 25px;
  background: black;
  color: white;
  height: 35px;
  width: 110px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.start-writing-btn:hover {
  cursor: pointer;
}

.border-div {
  height: 30px;
  width: 80%;
  border-bottom: 0.25px solid lightgray;
}

.recommended-topics-container {
  margin-top: 25px;
  position: sticky;
  width: 80%;
  -webkit-font-smoothing: antialiased;
}

.recommended-topics-title {
  font-weight: bold;
}
.recommend-topics-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 13px;
  height: 170px;
  width: 100%;
}

.recommended-tag-button {
  margin-top: 10px;
  margin-right: 10px;
  border-style: none;
  border-radius: 25px;
  color: black;
  font-size: 12px;
  height: 35px;
  width: 100px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  background-color: rgba(223, 223, 223, 0.69);
}

.recommended-tag-button:hover {
  cursor: pointer;
}

.recommended-follows-container {
  width: 80%;
  height: 250px;
  margin-top: 25px;
}

.recommended-follows-header {
  height: 6%;
}

.recommended-follows-title {
  font-weight: bold;
}

.recommended-users-container {
  height: 80%;
  margin-top: 20px;
}

.user-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 33%;
}

.user-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user-text-container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.rec-user-name {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.rec-user-bio-text {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.follow-btn {
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 12px;
  height: 35px;
  width: 70px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  background-color: white;
}

.follow-btn:hover {
  cursor: pointer;
}

.suggestions-link {
  text-decoration: none;
  font-size: 12px;
  color: green;
}

.story-user-profile-container {
  height: 200px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.story-user-profile-icon {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.story-user-profile-icon:hover{
  cursor: pointer;
}

.story-user-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.story-user-name {
  margin-top: 13px;
}

.story-user-name-text {
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
}


.story-user-follow-count {
  height: 10%;
}

.user-follower-count-text {
  margin-top: 9px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.story-user-bio-text {
  margin: 0;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.story-user-buttons-container {
  display: flex;
  flex-direction: row;

  margin-top: 30px;
}

.state-following-btn {
  background-color: black;
}

.state-follow-btn {
  background-color: rgb(2, 148, 2);
}

#story-user-follow-btn {
  border: none;
  color: white;
  border-radius: 25px;
  padding: 10px;
  width: 22%;
  height: 70%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

#story-user-follow-btn:hover {
  cursor: pointer;
}

#story-user-email-btn {
  margin-left: 9px;
  background-color: rgb(2, 148, 2);
  border: none;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 11%;
  height: 70%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

#story-user-email-btn:hover {
  cursor: pointer;
}

button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.more-from-medium-container {
  margin-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.reference-links {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.reference {
  text-decoration: none;
  font-size: 9px;
  color:rgba(117, 117, 117, 1);
  margin-right: 10px;
}

.reference:hover {
  cursor: pointer;
}

.bottom-wrapper{
  width: 100%;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-content-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  width: 30%;
  padding: 0 32px 0 16px;
  position: fixed;
  top: 0;
  right: 0%;
}