.mediumPrograms {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(109, 109, 109, 0.391);
  width: 100%;
}

.userFuncs {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  border-bottom: 1px solid rgba(109, 109, 109, 0.382);
}

.userProfile {
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu-item {
  text-decoration: none;
  padding: 10px 10px;
  margin: 10px;
  font-size: 13px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.three {
  color: rgb(0, 138, 37);
}

.six {
  display: flex;
  margin-bottom: 0px;
}
.seven {
  display: flex;
  margin-top: 0px;
}

.signOut {
  padding: 0px;
}
.nav-profile-icon-menu-container {
    display: none;
  position: fixed;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 200px;
  height: fit-content;
  left: 15px;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(143, 143, 143, 0.542);
  z-index: 1;
  bottom: 3rem;
}

#logoutButton {
  border: 0;
  color: black;
  background-color: white;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: 0.5s;
}

#logoutButton:hover {
  transition: 0.5s;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.261);
}

.navBarUserIcon {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
}

/* .hiddenMenuBar {
  display: none;
} */
