/* body {
  height: 100%;
  margin: 0;
  padding: 0;
} */
.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 6%;
  border-right: 0.25px solid lightgray;
}

.homepage-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-logo-home {
  padding-top: 35px;
  width: 50%;
}

.nav-icon-logo-icon {
  width: 100%;
}

.nav-icon-container {
  display: flex;
  flex-direction: column;
}

.nav-icon-home {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.nav-icon-home-icon {
  width: 22px;
  height: 22px;
}

.nav-icon-notification {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.nav-icon-notification-icon {
  width: 22px;
  height: 22px;
}

.nav-icon-lists {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.nav-icon-lists-icon {
  width: 22px;
  height: 22px;
}

.nav-icon-stories {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.nav-icon-stories-icon {
  width: 22px;
  height: 22px;
}

hr {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 35px;
}

.nav-icon-create {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.nav-icon-create-icon {
  width: 22px;
  height: 22px;
}

.nav-profile-icon-container {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding-bottom: 20px;
}

.nav-icon-profile-icon {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}
