.singleStoryImg {
    height: 30px;
    width: 30px;
}

#story-authorImgContainer {
    display: flex;
    align-items: center;
    width: 50px;
}

#story-authorImg {
    width: 100%;
    border-radius: 45px;
}

#single-story-layout {
    display: flex;
}

#single-story-resource {
    min-height: 100vh;
    border-right: 0.25px solid lightgray;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    width: 64%;
}

#story-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

#story-header-left {
    display: flex;
    align-items: center;
}

#story-header-left > div{
    padding-right: 1em;
}

#story-author {
    padding-bottom: .5em;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-size: 16px;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

#story-date-readTime {
    line-height: 20px;
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
}

#links-nav {
    display: flex;
}

#links-nav > a {
    padding-left: 1em;
}

#links-nav > a > img {
    transition: .15s;
}


#twitterButtonBlack,
#linkedInButtonBlack,
#linkButtonBlack {
    filter: opacity(50%);
}

#twitterButtonBlack:hover,
#linkedInButtonBlack:hover,
#linkButtonBlack:hover {
    filter: opacity(1000%);
}

#copyButton:hover {
    cursor: pointer;
}

#saveButton {
    padding-left: 2em;
}

#story-title {
    line-height: 40px;
    letter-spacing: -0.016em;
    margin-top: 0.6em;
    margin-bottom: -0.27em;
    font-size: 32px;
    font-weight: bold;
    color: rgba(41, 41, 41, 1);
}

#story-article {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: -0.003em;
    -webkit-font-smoothing: antialiased;
    margin-top: 2em;
    margin-bottom: -0.46em;
    font-weight: 400;
}

#clap-comment-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    height: 40px;
    position: fixed;
    bottom: 10px;
    left: 32.5%;
    background-color: white;
    box-shadow: 0px 0px 10px 2px #757575ab;
    border-radius: 20px;
    width: 160px;
}

#clap > *,
#comment > * {
    margin: .25em;
}

#clap-comment-modal * {
    filter: opacity(70%);
}

#clap,
#comment {
    display: flex;
    align-items: center;
}

#clap:hover,
#comment:hover {
    cursor: pointer;
    filter: opacity(100%);
}