.splashBanner {
    background-color: #FFC017;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 455px;
}

.mainBanner-text {
    margin-left: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainBanner-title {
    font-size: 90px;
}

#mainBanner-header {
    width: 440px;
    font-size: 20px;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

#mainBanner-button {
    box-sizing: border-box;
    background-color: black;
    color: white;
    width: 213px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 9px;
    border: solid black 1px;
    border-radius: 25px;
}

#mainBanner-button:hover{
    cursor: pointer;
}

#randomMgenerator {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(17, 1fr);
    width: 585px;
}

.disappearingM {
    position: relative;
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.hiddenByColor {
    color: #FFC017;
}

.splashContent {
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 40px;
}

#splashContentHeader {
    width: fit-content;
    margin-bottom: 16px;
}

.trend-storiesCollection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.trend-story {
    box-sizing: border-box;
    display: flex;
    padding-right: 1em;
}

.trend-storyNumber {
    box-sizing: border-box;
    color: #E6E6E6;
    font-size: 1.75em;
    font-weight: bold;

}

.trend-storyContent {
    padding-left: .5em;
}

.trend-storyHeader {
    display: flex;
    padding: .2em;
}

.trend-storyHeaderImage {
    padding-right: .5em;
}

.trend-storyHeaderInfo {
    font-size: .75em;
}

.trend-storyTitle {
    font-size: 1.3em;
    font-weight: bold;
    padding: .2em;
}

.trend-storyInformation {
    color: #757575;
    padding: .2em;
}